.hangman {
  padding: 0 40px 40px;
}

.hangman__gallow {
  position: relative;
  width: 200px;
  height: 250px;
  border: black solid 10px;
  border-radius: 5px;
  border-right: 0;
}

.hangman__support-beam {
  width: 10px;
  height: 120px;
  background-color: black;
  transform: rotateZ(45deg);
  position: absolute;
  left: 32px;
  top: -22px;
}

.hangman__hanging-beam {
  position: absolute;
  right: 2px;
  width: 5px;
  height: 40px;
  border-radius: 0 0 10px 10px;
  background-color: black;
}

.hangman__foundation {
  position: absolute;
  bottom: -10px;
  left: -50px;
  width: 300px;
  height: 10px;
  background-color: black;
  border-radius: 10px;
}

.hagman__head {
  position: absolute;
  width: 50px;
  height: 0px;
  border: 0px solid black;
  border-radius: 30px;
  right: -23px;
  top: 38px;
  transition: all 0.7s ease;
}

.hagman__body {
  height: 0px;
  background: black;
  position: absolute;
  right: 1px;
  top: 90px;
  border-radius: 5px;
  transition: all 0.7s ease;
}

.hagman__left-arm {
  transform: rotate(45deg);
  height: 0;
  background: black;
  position: absolute;
  right: 22px;
  top: 84px;
  border-radius: 5px;
  transition: all 0.7s ease;
}

.hagman__rigth-arm {
  transform: rotate(132deg);
  height: 0;
  background: black;
  position: absolute;
  right: -20px;
  top: 85px;
  border-radius: 5px;
  transition: all 0.7s ease;
}

.hagman__left-leg {
  transform: rotate(45deg);
  height: 0;
  background: black;
  position: absolute;
  right: 21px;
  top: 133px;
  border-radius: 5px;
  transition: all 0.7s ease;
}

.hagman__rigth-leg {
  transform: rotate(132deg);
  height: 0;
  background: black;
  position: absolute;
  right: -18px;
  top: 132px;
  border-radius: 5px;
  transition: all 0.7s ease;
}

.--active {
  height: 50px;
  border: 3px solid black;
}

.interactive {
  text-align: center;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.interactive__question {
  font-size: 24px;
}

.interactive__word {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.word__item {
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-bottom: 1px solid black;
  transition: all 0.7s ease;
}

.--correct {
  border-bottom: 0;
}

.interactive__attempts {
  font-size: 20px;
}

.attempts__count {
  color: red;
  padding-left: 10px;
}

.interactive__keyboard {
  display: flex;
  flex-wrap: wrap;
  width: 330px;
  gap: 7px;
}

.keyboard__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #2196f3;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
}

.--disabled {
  cursor: initial;
  background-color: darkblue;
}

.keyboard__item:nth-child(19) {
  margin-left: 20px;
}

.body {
  background: rgb(46, 77, 147);
  font-family: monospace;
}

.main {
  margin: 0 auto;
  max-width: 1440px;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
  background: white;
  border-radius: 50px;
  padding: 50px 0;
}

.title {
  text-align: center;
  font-size: 40px;
  padding-bottom: 60px;
  color: white;
}

.modal {
  display: flex;
  position: fixed;
  left: -1000px;
  top: 0;
  height: 100%;
  width: 0;
  background: rgb(46, 77, 147);
  z-index: 2;
  font-size: 24px;
  transition: all 1.5s ease-in-out;
}

.modal__wrapper {
  margin: 0 auto;
  width: 0;
  height: 30lvh;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  border-radius: 40px;
}

.modal--active {
  left: 0;
  align-items: center;
  width: 100%;
}
.modal--active .modal__wrapper {
  min-width: 360px;
  width: 30vw;
}

.modal__btn-try-again {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2196f3;
  border: 0;
  padding: 15px;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
}/*# sourceMappingURL=main.css.map */