.wrapper {
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
  background: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: fit-content;
}

.title {
  text-align: center;
  margin: 0;
  font-size: 24px;
}

.main {
  background: gray;
  font-family: cursive;
  height: 110vh;
}

.nonogramm {
  width: max-content;
  padding: 20px;
}
.nonogramm__container {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  padding: 10px;
}
.container {
  color: white;
}

.container__bottom-left {
  display: flex;
  grid-row: 2;
  flex-direction: column;
  border: 1px solid black;
  border-right: none;
}
.container__top-right {
  display: flex;
  border: 1px solid black;
  border-bottom: none;
}
.container__bottom-right {
  display: flex;
  grid-row: 2;
  flex-direction: column;
  border: 1px solid black;
}
.column {
  display: flex;
  justify-content: end;
}
.column-top {
  flex-direction: column;
}
.column-left {
  flex-direction: row;
}
.column-right {
  justify-content: space-between;
}
.item {
  display: flex;
  width: 15px;
  height: 15px;
  min-width: 10px;
  min-height: 10px;
  border: 1px solid white;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  background-color: black;
}
.game-cell {
  position: relative;
  background-color: gray;
  transition: all 0.5s ease-in-out;
}

.left-cross {
  position: absolute;
  width: 1px;
  height: 0px;
  background-color: black;
  transform: rotate(45deg);
  transition: all 0.5 ease;
}
.rigth-cross {
  position: absolute;
  width: 1px;
  height: 0px;
  background-color: black;
  transform: rotate(-45deg);
  transition: all 0.5 ease;
}

.--fill {
  background-color: black;
}

.--empty {
  background-color: white;
  .left-cross,
  .rigth-cross {
    height: 10px;
  }
}

.column-top:nth-child(5n):not(:last-child),
.game-cell:nth-child(5n):not(:last-child) {
  border-right: 2px solid black;
}
.column-left:nth-child(5n):not(:last-child),
.column-right:nth-child(5n):not(:last-child) {
  border-bottom: 2px solid black;
}
