.enjoy__container {
  margin-top: 15px;
  padding: 100px 100px 0;
  background-image: url(./img/enjoy__wrapper.png);
  border-radius: 50px;
  background-position: center;
  background-size: cover;
}

.coffee__container-external {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0 98px;
}

.coffee__container-internal {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about__img-container {
  padding-top: 38px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.mobile__main-container {
  display: flex;
  padding: 95px 0 95px 0;
  justify-content: space-between;
}
.mobile__left-container {
  padding-top: 148px;
}

.mobile__right-container {
  padding-top: 5px;
}

.left-container__app-container {
  display: flex;
}

.app-store_container__app-store_container,
.app-store_container__google-play_container {
  height: 64px;
  width: 200px;
  display: flex;
  border: 1px solid $border-dark;
  border-radius: 100px;
  align-items: center;
  margin-right: 16px;
  transition: all 0.5s ease;
}

.app-store_container__app-store_container:hover {
  background-color: $border-dark;
  color: $text-light;
  .app-store__svg {
    fill: $text-light;
  }
}

.app-store_container__google-play_container:hover {
  background-color: $border-dark;
  color: $text-light;
  .google-play__svg {
    fill: $text-light;
  }
}

.footer__main-container {
  display: flex;
  background-color: $border-dark;
  border-radius: 40px;
  margin-bottom: 40px;
}

.footer__left-container {
  padding-top: 99px;
  margin-left: 99px;
}

.left-container__img-list {
  display: flex;
  padding-bottom: 96px;
}

.footer__rigth-container {
  @include font(16px, 600, 24px);
  color: $text-light;
  padding-top: 109px;
  padding-left: 137px;
}

.menu__icons-container {
  display: flex;
  justify-content: center;
  border-radius: 100px;
  @include font(16px, 600, 24px);
  padding-bottom: 39px;
}

.drinks-item__container {
  box-sizing: border-box;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 194px;
}
.menu__drinks-img_container {
  overflow: hidden;
  width: 310px;
  height: 310px;
  border-radius: 40px;
}
