body {
  background-color: $background-body;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 40px;
}

.enjoy__wrapper {
  background-image: url(./img/enjoy__wrapper.png);
  padding: 0;
  margin: 0 40px;
  border-radius: 40px;
}
