.enjoy__btn_meny {
  cursor: pointer;
  position: relative;
  @include font(16px, 600, 24px);
  width: 200px;
  height: 64px;
  border-radius: 50px;
  transition: all 0.5s ease;
  color: $text-dark;
  border: none;
  background: $background-body;
}

.enjoy__btn_text {
  position: absolute;
  transition: all 0.5s ease;
  right: 77px;
  top: 21px;
}
.enjoy__btn_meny::after {
  top: 21px;
  right: 67px;
  position: absolute;
  content: url(./img/coffee-cup.svg);
  transition: all 0.7s ease;
  opacity: 0;
}
.enjoy__btn_meny:hover {
  .enjoy__btn_text {
    right: 96px;
  }
}

.enjoy__btn_meny:hover::after {
  transition: all 0.7s ease;
  opacity: 1;
}

@media (max-width: 768px) {
  .enjoy__btn_text {
    right: 92px;
    top: 20px;
  }
  .enjoy__btn_meny::after {
    opacity: 1;
    right: 61px;
  }
}
