.coffee__controls-list {
  display: flex;
}
.coffee__control-item {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background-color: $border-light;
  margin: 0 6px 0 6px;
}
.coffee__control-progress {
  width: 0%;
  height: 4px;
  background-color: $border-dark;
  transition: width 0.5s ease;
}
