.left-container__img-item {
  width: 60px;
  height: 60px;
  margin-right: 9px;
  border: 1px solid $text-light;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  transition: all 0.5s ease;
}

.left-container__img-item:hover {
  background-color: $text-light;
  .left-container__img-svg {
    stroke: $text-dark;
  }
}
.container_for__icon-coffee {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: $background-body;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon__item-desert,
.icon__item-tea,
.icon__item-coffee {
  display: flex;
  height: 46px;
  align-items: center;
  border: 1px solid $border-light;
  justify-content: space-evenly;
  border-radius: 100px;
  transition: all 0.5s ease;
}

.icon__item-coffee {
  border-radius: 100px;
  background-color: $background-container;
}
.container_for__icon-tea,
.container_for__icon-dessert {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: $border-light;
}

.icon__item-tea {
  width: 90px;
  margin: 0px 17px 0 13px;
}
.icon__item-coffee {
  width: 115px;
}
.icon__item-desert {
  width: 124px;
}

.icon__item-text-tea {
  margin-right: 5px;
}

.icon__item-text-dessert {
  margin-right: 11px;
}

.icon__item-text-coffee {
  margin-right: 6px;
}

.icon__item-tea:hover {
  background-color: $background-container;
  .container_for__icon-tea {
    background-color: $background-body;
  }
}
.icon__item-desert:hover {
  background-color: $background-container;
  .container_for__icon-dessert {
    background-color: $background-body;
  }
}

@media (max-width: 380px) {
  .icon__item-coffee {
    width: 115px;
  }
  .icon__item-tea {
    margin: 0;
  }
  .menu__icons-container {
    justify-content: space-between;
  }
}
