.img-container__item {
  display: block;
  width: 660px;
  max-width: 100%;
  background-position: center;
  border-radius: 20px;
  transition: all 1s ease;
}

.coffee_img-none {
  display: none;
}

.img-container__item:hover {
  transform: scale(1.1);
}

.google-play__img {
  stroke: none;
}

.google-play__img,
.app-store__img {
  margin: 0px 7px 2px 19px;
}

.img-container__item-1 {
  background-image: url(./img/about-1.png);
  height: 590px;
}
.img-container__item-3 {
  height: 430px;
  background-image: url(./img/about-2.png);
}
.img-container__item-2 {
  height: 430px;
  background-image: url(./img/about-3.png);
}
.img-container__item-4 {
  height: 590px;
  background-image: url(./img/about-4.png);
}
.img-wrapper {
  overflow: hidden;
  border-radius: 20px;
}
.img-wrapper-4 {
  margin-top: -159px;
}

.menu__drinks-img {
  object-fit: none;
  height: 100%;
  width: 100%;
  transition: all 0.5s ease;
}
.menu__drinks-item:hover {
  .menu__drinks-img {
    transform: scale(1.1);
  }
}
@media (max-width: 768px) {
  .img-wrapper:nth-child(3),
  .img-wrapper:nth-child(2) {
    display: none;
  }
  .img-wrapper-4 {
    margin: 0;
  }
  .img-container__item-1,
  .img-container__item-4 {
    width: 726px;
  }
}

@media (max-width: 670px) {
  .right-container__img {
    width: 348px;
    height: 348px;
    margin-left: -12px;
  }
  .coffee_img {
    width: 348px;
    height: 348px;
  }
}
