.img-container__item {
  display: block;
  width: 660px;
  width: 100%;
  background-position: center;
  border-radius: 20px;
  transition: all 1s ease;
  transform: scale(1.1);
  background-size: cover;
}
.google-play__svg {
  stroke: none;
  transition: all 0.5s ease;
}
.coffee_img {
  width: 480px;
  height: 480px;
}
.google-play__img,
.app-store__img {
  margin: 0px 7px 2px 19px;
}

.img-container__item-1 {
  background-image: url(./img/about-1.png);
  height: 590px;
}
.img-container__item-3 {
  height: 430px;
  background-image: url(./img/about-2.png);
}
.img-container__item-2 {
  height: 430px;
  background-image: url(./img/about-3.png);
}
.img-container__item-4 {
  height: 590px;
  background-image: url(./img/about-4.png);
}
.img-wrapper {
  overflow: hidden;
  border-radius: 20px;
}
.img-wrapper-2 {
  height: 430px;
}

.img-wrapper-4 {
  margin-top: -159px;
}

.menu__drinks-img {
  object-fit: contain;
  height: 100%;
  width: 100%;
  transform: scale(1.1);
  transition: all 0.5s ease;
}
@media (max-width: 1000px) {
  .img-container__item {
    transform: scale(1.05);
  }

  .img-wrapper-4 {
    margin: 0;
  }

  @media (max-width: 768px) {
    .img-wrapper:nth-child(3),
    .img-wrapper:nth-child(2) {
      display: none;
    }
  }
  @media (max-width: 670px) {
    .img-container__item {
      background-position: center;
      transform: scale(1.23);
    }
    .right-container__img {
      width: 348px;
      height: 348px;
      margin-left: -12px;
    }
    .coffee_img {
      width: 348px;
      height: 348px;
    }
  }
}
