.img-container__item {
  display: block;
  width: 660px;
  width: 100%;
  background-position: center;
  border-radius: 20px;
  transition: all 1s ease;
  transform: scale(1.1);
  background-size: cover;
}

.img-container__item:hover {
  transform: scale(1.03);
}

.google-play__svg {
  stroke: none;
  transition: all 0.5s ease;
}

.google-play__img,
.app-store__img {
  margin: 0px 7px 2px 19px;
}

.img-container__item-1 {
  background-image: url(./img/about-1.png);
  height: 590px;
}
.img-container__item-3 {
  height: 430px;
  background-image: url(./img/about-2.png);
}
.img-container__item-2 {
  height: 430px;
  background-image: url(./img/about-3.png);
}
.img-container__item-4 {
  height: 590px;
  background-image: url(./img/about-4.png);
}
.img-wrapper {
  overflow: hidden;
  border-radius: 20px;
}
.img-wrapper-2 {
  height: 430px;
}

.img-wrapper-4 {
  margin-top: -159px;
}

.menu__drinks-img {
  object-fit: contain;
  height: 100%;
  width: 100%;
  transform: scale(1.1);
  transition: all 0.5s ease;
}
.menu__drinks-item:hover {
  .menu__drinks-img {
    transform: scale(1);
    transition: all 0.5s ease;
  }
}
