.menu__drinks-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0px 0 101px;
  gap: 40px 40px;
}

.menu__drinks-item {
  cursor: pointer;
  width: 310px;
  border: 1px solid $border-light;
  border-radius: 40px;
}

@media (max-width: 1400px) {
  .menu__drinks-list {
    grid-template-columns: 1fr 1fr;
    gap: 40px 38px;
    padding-bottom: 38px;
  }
}

@media (max-width: 768px) {
  .menu__drinks-item:nth-child(n + 5) {
    display: none;
  }
}

@media (max-width: 690px) {
  .menu__drinks-list {
    grid-template-columns: 1fr;
  }
}
