.menu__drinks-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0px 0 99px;
  gap: 40px 37px;
}

.menu__drinks-item {
  cursor: pointer;
  width: 310px;
  border: 1px solid $border-light;
  border-radius: 40px;
}
