.header__menu {
  display: flex;
  align-items: center;
  @include font(16px, 600, 24px);
  margin-top: -11px;
}

.header__menu_page1 {
  cursor: pointer;
}
.menu__text {
  position: relative;
  padding-right: 9px;
  color: $text-dark;
}

.menu__text:after {
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  bottom: 0;
  width: 150%;
  background-color: $text-dark;
}

.menu__text_page-1 {
  position: relative;
}

.menu__text_page-1:after {
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  bottom: 0;
  left: 50%;
  width: 0;
  background-color: $text-dark;
  transition: all 0.7s;
}
.menu__text_page-1::before {
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  bottom: 0px;
  right: 50%;
  width: 0;
  background-color: $text-dark;
  transition: all 0.7s;
}

.menu__text_page-1:hover::after {
  width: 100%;
}
.menu__text_page-1:hover::before {
  width: 50%;
}

.menu__text-home:after {
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  bottom: 0;
  left: 50%;
  width: 0;
  background-color: $text-dark;
  transition: all 0.7s;
}
.menu__text-menu {
  position: relative;
}

.menu__text-menu::before {
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  bottom: 0px;
  width: 150%;
  background-color: $text-dark;
  transition: all 0.7s;
}

.menu__text-home:before {
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  bottom: 0px;
  right: 50%;
  width: 0;
  background-color: $text-dark;
  transition: all 0.7s;
}

@media (max-width: 768px) {
  .header__menu {
    display: none;
  }
}
