.menu__drinks-list {
  opacity: 0;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0px 0 99px;
  gap: 40px 37px;
}

.menu__drinks-item {
  width: 310px;
  border: 1px solid $border-light;
  border-radius: 40px;
}

@media (max-width: 1400px) {
  .menu__drinks-list {
    grid-template-columns: 1fr 1fr;
    gap: 40px 26px;
    padding: 0px 0 38px 14px;
  }
  .menu__drinks-item:nth-child(n + 5) {
    display: none;
  }
}

@media (max-width: 740px) {
  .menu__drinks-list {
    grid-template-columns: 1fr;
    padding-left: 19px;
  }
}

.menu__drinks-list.menu-list--active {
  position: relative;
  opacity: 1;
}
