.enjoy__text {
  @include font(16px, 400, 24px);
  color: $text-light;
  margin: 40px 0 40px 0;
  width: 555px;
}

.coffee__description {
  width: 480px;
  @include font(16px, 400, 24px);
}

.price {
  @include font(24px, 600, 30px);
}

.coffee__price {
  margin-bottom: 40px;
}

.left-container__text {
  @include font(16px, 400, 24px);
  margin: 39px 0 37px;
}

.app-store__top-text {
  @include font(10px, 600, 14px);
  margin: 0;
}
.app-store__bottom-text {
  @include font(16px, 600, 24px);
  margin: 2px 0 0 0;
}
.google-play__top-text {
  @include font(10px, 600, 14px);
  margin: 0;
}
.google-play__bottom-text {
  @include font(16px, 600, 24px);
  margin: 2px 0 0 0;
}

.footer_rigth__container-item {
  display: flex;
  align-items: flex-start;
}

.footer__contact-us {
  @include font(24px, 600, 30px);
}

.footer__location {
  margin: 39px 0 19px;
}

.footer__phone {
  margin: 21px 0 21px;
}
.drinks-item__description {
  @include font(16px, 400, 24px);
  padding-right: 20px;
  margin-top: 11px;
  margin-bottom: auto;
}

.drinks-item__price {
  margin-top: 13px;
  margin-bottom: 18px;
}

@media (max-width: 768px) {
  .enjoy__text {
    margin-top: 42px;
  }
  .left-container__text {
    margin-bottom: 39px;
  }
}

@media (max-width: 670px) {
  .enjoy__text {
    width: auto;
  }
  .coffee__description {
    width: auto;
  }

  .left-container__text {
    margin-top: 41px;
  }
}
