.title {
  @include font(72px, 600, 76px);
  margin: 0;
  color: $text-light;
}

.title-span {
  font-style: italic;
  color: $text-accent;
}

h2.title,
h3.title {
  color: $text-dark;
  font-size: 60px;
}

h3.title {
  @include font(24px, 600, 30px);
}

.enjoy__title {
  
  width: 555px;
}
.coffee__title {
  margin-top: 98px;
  text-align: center;
}

.coffee__name {
  margin: 21px 0 0 0;
}

.footer__text {
  padding-bottom: 39px;
}

h2.footer__title {
  margin-bottom: 39px;
  color: $text-light;
  width: 495px;
}

.menu__title {
  width: 800px;
  margin-top: 16px;
  @include font(60px, 600, 75px);
  color: $text-dark;
  text-align: center;
  margin: 16px 0 39px;
}

.drinks-item__title {
  margin-top: 20px;
}

.modal__title {
  @include font(24px, 600, 30px);
  margin: 17px 0 0;
}

@media (max-width: 800px) {
  .about__title {
    line-height: 75px;
  }
  .menu__title {
    width: auto;
  }
}

@media (max-width: 670px) {
  .enjoy__title {
    width: auto;
    @include font(42px, 600, 48px);
  }
  h2.footer__title,
  h2.left-container__title,
  h2.about__title,
  h2.coffee__title {
    @include font(32px, 600, 40px);
  }
  .coffee__name {
    margin-top: 22px;
  }
  h2.footer__title {
    width: auto;
  }
  .menu__title {
    @include font(32px, 600, 40px);
  }
}
