.img-container__item {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

.img-container__item-4 {
  margin-top: -159px;
}
.google-play__img,
.app-store__img {
  margin: 0px 12px 4px 23px;
}
