.nav__list {
  @include font(16, 600, 24px);
  display: flex;
}
.nav__item {
  padding-right: 40px;
  list-style-type: none;
}

.nav__item:after {
  display: block;
  content: "";
  height: 1px;
  width: 100%;
  background-color: black;
  opacity: 0;
  transition: all 0.7s;
}
.nav__item:hover::after {
  opacity: 1;
}
