.title {
  @include font(72px, 600, 76px);
  margin: 0;
  color: $text-light;
}

h2.title,
h3.title {
  color: $text-dark;
  font-size: 60px;
}

h3.title {
  @include font(24px, 600, 30px);
}

.enjoy__title-span {
  color: $text-accent;
}

.coffee__title {
  margin-bottom: 39px;
}

.coffee__name {
  margin: 21px 0 0 0;
}

.footer__text {
  padding-bottom: 39px;
}

.footer__title {
  margin-bottom: 39px;
}

.menu__title {
  margin-top: 16px;
  @include font(60px, 600, 75px);
  color: $text-dark;
  text-align: center;
  margin: 16px 0 39px;
}

.drinks-item__title {
  margin-top: 15px;
}
