.enjoy__container {
  margin-top: 15px;
  padding: 100px 100px 102px;
  background-image: url(./img/enjoy__wrapper.png);
  border-radius: 40px;
  background-position: center;
  background-size: cover;
}

@media (max-width: 768px) {
  .enjoy__container {
    padding: 100px 59px 98px;
  }
}

@media (max-width: 500px) {
  .enjoy__container {
    padding: 61px 10px 59px 16px;
  }
}
