.enjoy__container {
  position: relative;
  margin-top: 15px;
  width: 100%;
  border-radius: 40px;
  padding: 99px 0 99px 60px;
}
.enjoy__external_contrainer {
  position: relative;
}

@media (max-width: 768px) {
  .enjoy__container {
    padding: 100px 0 98px;
  }
}

