body {
  background-color: $background-body;
}

.wrapper {
  overflow: hidden;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 40px;
}

.about__wrapper {
  padding: 0 38px;
}

.menu__icons-wrapper {
  display: flex;
  justify-content: center;
}

@media (max-width: 380px) {
  .wrapper {
    padding: 0 16px;
  }
}
